<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="datasource.properties"></properties>

    <!--<typeHandlers>-->
        <!--<typeHandler handler="com.study.mybatis.utils.FlagEnumHandler" javaType="com.study.mybatis.utils.FlagEnum" jdbcType="INTEGER"></typeHandler>-->
    <!--</typeHandlers>-->

    <objectFactory type="com.study.mybatis.utils.UserObjectFactory"></objectFactory>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED" >
                <property name="driver" value="${springboot.datasource.driverClass}"/>
                <property name="url" value="${springboot.datasource.url}"/>
                <property name="username" value="${springboot.datasource.username}"/>
                <property name="password" value="${springboot.datasource.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.study.mybatis.mapper"></package>
    </mappers>
</configuration>