<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="post" class="com.study.spring.MyBeanPostProcessor"></bean>
    <bean id="test2" name="test4" class="com.study.spring.Test2"></bean>
    <bean id="test" class="com.study.spring.Test"></bean>

    <bean id="test3" class="com.study.spring.Test3">
        <property name="test2" ref="test4"></property>
        <property name="autoStart" value="false"/>
    </bean>

    <bean class="com.study.spring.FactoryBeanTest"/>
</beans>